nav{
    background-color: black;
}
*{
    margin: 0;
}
nav ul{
    color: aliceblue;
    list-style-type: none;
    display: flex;
    padding: 15px;
}
nav a {
    text-decoration: none;
    color: aliceblue;
}
nav li{
    padding: 7px;
    padding-left: 90px;
}
.sign{
    display:inline;
    padding-left: 750px;
}
.sign a{
    color: blue;
}
.sign a:hover{

    color: red;
}
body{
    background-color: rgb(239, 229, 215);
}

.for{
    width: 500px;
    height: 560px;
    background-color: aliceblue;
    margin: auto;
    padding-top: 50px;
}
#form2Example1{

    margin-left: 50px;
}
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.fg{
    width: 600px;
    height: 499px;
    padding-top: 61px;
    margin: auto;
}